<div ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{header}}</h1>
        </div>
    </div>

    <!--<div class="row">-->
        <!--<stats number="6" comments="New comments!" colour="primary" type="comments"></stats>-->
        <!--<stats number="12" comments="New tasks!" colour="primary" type="user"></stats>-->
        <!--<stats number="18" comments="New orders!" colour="yellow" type="shopping-cart"></stats>-->
        <!--<stats number="24" comments="Support tickets!" colour="red" type="support"></stats>-->
    <!--</div>-->



    <div class="row">

        <!--<div class="col-lg-8">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--<i class="fa fa-clock-o fa-fw"></i> Responsive Timeline-->
                <!--</div>-->
                <!--<timeline items="timelineList"></timeline>-->
            <!--</div>-->
        <!--</div>-->

        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <panel ico="'fa-comments'" title="'Panel Directive'" menu-items="[{title: 'Refresh', ico: 'fa-refresh'}]">
                <notifications items="notificationList"></notifications>
            </panel>

            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--<i class="fa fa-bell fa-fw"></i> Notifications Panel-->
                <!--</div>-->
                <!--<notifications items="notificationList"></notifications>-->
            <!--</div>-->
            <!-- /.panel -->

            <!--<chat></chat>-->

            <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
