<div ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{header}}</h1>
        </div>
    </div>

    <div class="row">
        <stats class="col-lg-4 col-md-4" number="6" comments="Prevent Critical Issue" colour="panel-red" ico="ico-cr"></stats>
        <stats class="col-lg-4 col-md-4" number="12" comments="Prevent Major Issue" colour="panel-yellow" ico="ico-mj"></stats>
        <stats class="col-lg-4 col-md-4" number="18" comments="Prevent Minor Issue" colour="panel-grey" ico="ico-mn"></stats>
    </div>

    <div class="row">
        <stats class="col-lg-3 col-md-6" number="6" comments="New comments!" colour="panel-primary" ico="fa-comments" goto="root"></stats>
        <stats class="col-lg-3 col-md-6" number="12" comments="New tasks!" colour="panel-primary" ico="fa-user"  goto="root"></stats>
        <stats class="col-lg-3 col-md-6" number="18" comments="New orders!" colour="panel-yellow" ico="fa-shopping-cart"  goto="root"></stats>
        <stats class="col-lg-3 col-md-6" number="24" comments="Support tickets!" colour="panel-red" ico="fa-support"  goto="root"></stats>
    </div>

    <div class="row">

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <timeline items="timelineList"></timeline>
            </div>
        </div>

        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <panel ico="fa-comments" title="Panel Directive">
                <notifications items="notificationList"></notifications>
            </panel>

            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--<i class="fa fa-bell fa-fw"></i> Notifications Panel-->
                <!--</div>-->
                <!--<notifications items="notificationList"></notifications>-->
            <!--</div>-->

            <chat title="Chat Directive"></chat>

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
