<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>

            <li ng-repeat="menuItem in data.menuItemList" ui-sref-active="active">
                <a ng-if="!menuItem.subMenuItemList" ui-sref="{{menuItem.sref}}" ng-click="check($index)">
                    <i class="fa fa-fw" ng-class="menuItem.ico"></i> {{menuItem.name}}
                </a>

                <a ng-if="menuItem.subMenuItemList" ng-click="check($index)"><i class="fa fa-fw" ng-class="menuItem.ico"></i> {{menuItem.name}}
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level" collapse="collapseVar!=$index">
                    <li ng-repeat="subMenuItem in menuItem.subMenuItemList"  ui-sref-active="active">
                        <a ui-sref="{{subMenuItem.sref}}">{{subMenuItem.name}}</a>
                    </li>
                </ul>
            </li>

            <!--<li ng-class="{active: collapseVar==2}">-->
                <!--<a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span-->
                        <!--class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level" collapse="collapseVar!=2">-->
                    <!--<li>-->
                        <!--<a href="">Second Level Item</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="">Second Level Item</a>-->
                    <!--</li>-->
                    <!--<li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">-->
                        <!--<a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-third-level" collapse="multiCollapseVar!=3">-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->

                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li ng-class="{active:collapseVar==4}">-->
                <!--<a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span-->
                        <!--class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level" collapse="collapseVar!=4">-->
                    <!--<li ng-class="{active: selectedMenu=='blank'}">-->
                        <!--<a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Blank Page</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a ui-sref="login">Login Page</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
            <!--</li>-->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



