<div class="panel-body">
    <ul class="timeline">
        <!--items-->
        <li ng-repeat="item in items" ng-class="item.inverted ? 'timeline-inverted': ''">
            <div ng-if="item.badge" class="timeline-badge" ng-class="item.badge.clas"><i class="fa" ng-class="item.badge.ico"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{item.title}}</h4>
                    <p ng-if="item.dateAnnotation">
                        <small class="text-muted"><i class="fa fa-clock-o"></i>
                            {{getDateString(item.dateAnnotation.date)}} {{item.dateAnnotation.description}}
                        </small>
                    </p>
                </div>
                <div class="timeline-body" ng-bind-html="item.body | unsafe">
                </div>
                <hr ng-if="item.menuItems">
                <div  ng-if="item.menuItems" class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-gear"></i>  <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="menuItem in item.menuItems" ng-class="menuItem.divider ? 'divider': ''">
                            <a ng-if="menuItem.title" ui-sref="menuItem.sref">{{menuItem.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>